appnope
asttokens
beautifulsoup4
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fonttools
html5lib
idna
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
requests
seaborn
six
soupsieve
stack-data
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
webencodings
zipp
